.fondo-principal{
    background: rgb(29, 96, 98);
    height: 100vh;
     width: 100vw;
}

.fondo{
    background: cadetblue;
}

.btn-1 {
    visibility: hidden;
    transition: .4s all;
  }

.btn-1:hover{
    transform: scale(1.2);
    background-color: red;
}
  
  .list-group-item:hover .btn-1 {
    visibility: visible;
}